@model plv.ViewModels.DocumentDetailsViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="plog col-md-6">

        <h4 class="card-title">@Model.Document.FilePath</h4>
        @if (!String.IsNullOrWhiteSpace(Model.Document.Receiver))
        {
            <h6 class="card-subtitle mb-2 text-muted">Wychodzące</h6>
        }
        else
        {
            <h6 class="card-subtitle mb-2 text-muted">Przychodzące</h6>
        }

        <p class="card-text">Otrzymano: @Model.Document.DateReceived.ToShortDateString()</p>

        @if (!String.IsNullOrWhiteSpace(Model.Document.Receiver))
        {
            <p class="card-text">Odbiorca: @Model.Document.Receiver</p>
        }
        else
        {
            <p class="card-text">Nadawca: @Model.Document.Sender</p>
        }

        <p class="card-text">@Model.Document.ShortOptionalDescription</p>


        <div class="button buttonorg">
            <a href="/Docs/Download/@Model.Document.Section/@Model.Document.FilePath">Downloads</a>
        </div>

        @if (Model.IsOwnedByCurrentUser)
        {
            <div class="button buttonorg"><a href="/Docs/Edit/@Model.Document.Id">Edit</a></div>
        }
        @if (this.User.IsInRole("Admin"))
        {
            <div class="button buttonorg"><a href="/Docs/EditHistory/@Model.Document.Id">Edit History</a></div>
        }
    </div>



