@model plv.ViewModels.DocumentListViewModel

@{
    ViewData["Title"] = "DocsList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="plog col-md-6">
        <h1 class="display-4 text-center emboss">@Model.CurrentSection</h1>
        <div class="table-style">
            <table id="docs">
                <thead>
                    <tr>
                        <th><p>Nazwa</p></th>
                        <th><p>Odbiorca</p></th>
                        <th><p>Nadawca</p></th>
                        <th><p>Użytkownik</p></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var doc in Model.Documents)
                    {
                        <tr onclick="window.location.href='/Docs/Details/@doc.Id'">
                            <td>
                                <p>@doc.FilePath</p>
                            </td>
                            <td><p>@doc.Receiver</p></td>
                            <td><p>@doc.Sender</p></td>
                            <td><p>@doc.CurrentUser</p></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>


            @if (this.User.IsInRole(Model.CurrentSection + "-upload") || this.User.IsInRole("Admin"))
            {
                <a href="/Docs/Create/@Model.CurrentSection"><p class="clikp mt-3">Dodaj dokument</p></a>
            }
     </div>


@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#docs').DataTable();
        });
    </script>
}
