@model plv.ViewModels.ManageUserViewModel
@{
    ViewData["Title"] = "ManageUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="plog col-md-6">
        <h1 class="display-4 text-center emboss">Zarządzaj użytkownikiem</h1>


        @using (Html.BeginForm("EditUser", "Admin"))
        {

            @Html.ValidationSummary(true, "please fix following errors")

            <div>
                <h1 class="manus">@Model.User.UserName</h1>
            </div>
            <div class="form-group overrides">
                <ul>
                    @foreach (var role in Model.RolesList)
                    {
                        <li>
                            <label>
                                @role
                                @if (Model.CurrentUserRoles.Contains(role))
                                {
                                    <input id="hidden-@role" type="hidden" name="idList" value="unchecked-@role" disabled>
                                    <input id="@role" type="checkbox" name="idList" value="@role" checked onclick=" if (document.getElementById('@role').checked) { document.getElementById('hidden-@role').disabled = true; } else { document.getElementById('hidden-@role').disabled = false; document.getElementById('hidden-@role').checked }">
                                }
                                else
                                {
                                    <input id="hidden-@role" type="hidden" name="idList" value="unchecked-@role" checked>
                                    <input id="@role" type="checkbox" name="idList" value="@role" onclick=" if (document.getElementById('@role').checked) { document.getElementById('hidden-@role').disabled = true; } else { document.getElementById('hidden-@role').disabled = false; document.getElementById('hidden-@role').checked }">
                                }
                                <span class="check"></span>
                            </label>
                        </li>
                    }
                </ul>
            </div>
            @Html.HiddenFor(m => m.User.Id)
            @Html.AntiForgeryToken()
            <button type="submit" class="button buttonorg">Save</button>
        }

    </div>
