@model plv.Models.Section

@{
    ViewData["Title"] = "NewSection";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
        <div class="plog">
            <h1>New Section</h1>

            @using (Html.BeginForm("CreateSectionWithRole", "Admin"))
            {
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name)
                @Html.ValidationMessageFor(m => m.Name)

                @Html.HiddenFor(m => m.Id)
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-primary">Save</button>
            }
        </div>
</div>