@model plv.AccountViewModels.ChangePhoneNumberViewModel

    <div class="plog col-md-6">
        @if (!String.IsNullOrEmpty(Model.ErrorMessage))
        {
            <p class="text-danger">@Model.ErrorMessage</p>
        }
        @using (Html.BeginForm("ChangePhoneNumber", "Account"))
        {
            <div class="form-group">
                @Html.LabelFor(m => m.PhoneNumber)
                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
            </div>

            @Html.AntiForgeryToken()
            <input type="submit" value="Zatwierdź" class="button buttonorg"/>
        }
    </div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}