@model plv.AccountViewModels.ChangePasswordViewModel

    <div class="plog col-md-6">
        @if(!String.IsNullOrEmpty(Model.ErrorMessage))
        {
            <p class="text-danger">@Model.ErrorMessage</p>
        }

        @using (Html.BeginForm("ChangePassword", "Account"))
        {
            <div class="form-group">
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            </div>

            @Html.AntiForgeryToken()
            <input type="submit" value="Zatwierdź" class="button buttonorg" />
        }
    </div>

@section Scripts
{
<partial name="_ValidationScriptsPartial" />
}